video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}
h1 {
  color: #FFF8EA;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.icon {
  width: 32px;
 
}
.icon_search {
  width: 100%;
  height: 100%;
 }
.icon_btn {
  background-color:#fff8ea00;
  width: 55px;
  height: 42px;
  border: 0px;
}
.container_search {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
 
 }
.contant {
  background-color: #fff8eabf;
  width: 30%;
  text-align: center;
  border-radius: 12px 12px 0px 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.contant_btn {
  background-color: #fff8eabf;
  width: 30%;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  padding: 10px;
  margin-top: 5px;
}
.par_calories {
  text-align: start;
  color: #594545;
  font-size: 15px;
  letter-spacing: 2px;
}
.photo {
  width: 95%;
  border: 5px solid #fff8eadd;
  opacity: 0.7;
}
h2 {
  color: #594545;
  font-size: 25px;
  letter-spacing: 2px;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #815B5B;
}
.search:not([type=submit]) {
  color: #815B5B;
  background-color: #fff8eabf;
  outline: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  border-radius: 10px;
  border: none;
}
.search:hover {
  background-color:#FFF8EA;
}
.collapse {
  background-color: #fff8ea00;
  border: none;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  color: #594545;
  font-size: 20px;
}

@media all and (max-width:950px) {
  .contant {
    width: 50%;
  }
  .contant_btn {
    width: 50%;    
  }
}
@media all and (max-width:550px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}
@media all and (max-width:450px) {
  h1 {
    font-size: 20px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 18px;
  }
  .contant {
    width: 65%;
  }
  .contant_btn {
    width: 65%;    
  }
}
@media all and (max-width:370px) {
  h1 {
    font-size: 18px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 15px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .contant {
    width: 65%;
  }
  .contant_btn {
    width: 65%;    
  }
  .collapse {
    letter-spacing: 2px;   
    font-size: 15px;
  }
}